body{
padding-bottom:1cm;
 
}
a:link{
text-decoration: underline;
}
nav a 
{
text-decoration: none !important;
}
@media (min-width: 768px) {

nav {

    display: block;
    list-style-type: none; 
    margin:0 auto;
    width: 70%;
    
}}

@media  (min-width: 768px) {

.main-content{
margin-left: 15%;
margin-right: 15%;
    display: inline-block;

    display: block;
    list-style-type: none; 
    margin:0 auto;
    width: 70%;

}


}

@media  (max-width: 766px) {

.main-content{
padding-left: 10px;
padding-right: 10px;

}

    
    @media  (max-width: 766px) {

.chat{
 margin: 0 auto; max-width: 300px;


}
        @media  (min-width: 766px) {

.chat{
 margin: 0 auto; max-width: 300px;


}


}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}


/*
@media (min-width: 768px) {
  .main {
    width: 553.5px;
  }
}
@media (min-width: 992px) {
  .main {
    width: 721.5px;
  }
}
@media (min-width: 1200px) {
  .main {
    width: 877.5px;
  }}
*/
